<h1>Eat-Da-Burger!</h1>

<h2>Burgers Available!</h2>

<ul>
  {{#each burgers}}
  {{#unless this.devoured}}
  <li>
    {{this.burger_name}}

    <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
      <button type="submit">DEVOUR IT!</button>
    </form>
  </li>
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Eaten!</h2>

<ul>
  {{#each burgers}}
  {{#if this.devoured}}
  <li>
    {{this.burger_name}}
  </li>
  {{/if}}
  {{/each}}
</ul>
<main>
  <div class="container">
    <div class="row">
      <div class="col s6">
        {{#each burgers}}
        {{#unless this.devoured}}
        <div>
          <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
            <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
          </form>
        </div>
        {{/unless}}
        {{/each}}
      </div>

      <div class="col s6">
        {{#each burgers}}
        {{#if this.devoured}}
        <div class='burgerEaten'>
          <div>
            {{this.burger_name}}
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>

<h2>Add A Burger Option</h2>

<form class="create-update-form" action="/burgers" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="name" name="burger_name">
    <div class="row">
      <div class="col s12">
        <form action="/burgers" method="POST">
          <input type="text" id="name" name="burger_name" placeholder="Uber Delicious Burger">
          <button type="submit" class="addBurgerButton">Add The Burger</button>
        </form>
      </div>

      <button type="submit">Add The Burger</button>
</form>
</div>
30 views/layouts/main.handlebars
@@ -2,10 +2,28 @@
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
  <title>Burgerlicious Devour Menu</title>
</head>

<body>
  {{{ body }}}
</body>

<link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">

<!-- Compiled and minified Materialize CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
<title>Burgerlicious Devour Menu</title>
</head>

<body>
  <img src="/assets/img/cute_burger.jpeg" width="400px" id="cute_burger">

  {{{ body }}}

  <footer class="burgerFooter">
    <div class="footer-copyright">
      <div class="container">
        <span class="grey-text text-lighten-4">© 2017 angrbrd entertainment</span>
        <a class="grey-text text-lighten-4 right" href="https://github.com/angrbrd">Reference Work</a>
      </div>
    </div>
  </footer>
</body>