<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newsdevour="{{devoured}}">
		{{#if devoured}}All Gone!{{else}}Lets Eat!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>